<div style="background: rgb(8,187,244); background: linear-gradient(90deg, rgba(8,187,244,1) 0%, rgba(36,110,235,1) 62%); width: 50%; margin: auto; font-family: sans-serif;">
    <div style="text-align: center; color: white; font-size: 40px;">
        <h4 style="padding-top: 20px;">Reset your password</h4>
    </div>
    <div style="margin-top: 20px; margin-left: 20px; padding-bottom: 50px;">
        <p style="color: white; font-weight: 500;">
            To reset password click the button below.
        </p>
        <a href="{{ resetUrl }}" style="background-color: white; padding: 8px 5px 8px 5px; border-radius: 10px; border: 1px solid #f1efef; font-weight: bold; color: #3b82f6; text-decoration: none;">
            Reset
        </a>
    </div>
</div>