{% extends 'base.html.twig' %}

{% block title %}Verify your email{% endblock %}

{% block body %}

    <h1>Confirm your email</h1>

    <p>
        Email not received? Click <a href="#">here</a> to resend the verification link.
    </p>
{% endblock %}
