{% extends 'base.html.twig' %}

{% block title %}Verify your email{% endblock %}

{% block body %}

    <h1>Confirm your email</h1>

    <p>
        Email not received? Click <a href="#" id="resend">here</a> to resend the verification link.
    </p>

    <script>

        $(document).ready(function() {
            $('#resend').on("click", function () {
                resendEmailVerification();
            })
        });

        function resendEmailVerification() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);

                        if (response.can) {
                            console.log("true");
                        } else {
                            console.log("false.");
                        }
                    } else {
                        console.error("Błąd: " + xhr.status);
                    }
                }
            };

            xhr.open("GET", "{{ path('app_resend_email') }}", true);
            xhr.send();
        }

    </script>

{% endblock %}

{% block endjs %}

{% endblock %}