{% extends 'base.html.twig' %}

{% block title %}Confirm your email{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-11 col-md-10 col-lg-8 col-xl-6 border-1 rounded-3 ms-auto me-auto bg-dark mt-5 text-white" style="opacity: 0.9;">
                <div class="text-center mb-3 pt-2">
                    <h1>Confirm your email</h1>
                    <hr>
                </div>
                <div class="mb-3 text-center">
                    Email not received? Click <a href="#" id="resend">here</a> to resend the verification link.
                </div>
                <div class="mb-3">
                    <p id="response"></p>
                </div>
            </div>
        </div>
    </div>

    <script>

        var current = 0;
        var lastTime = 0;

        $(document).ready(function() {
            $('#resend').on("click", function () {
                current = new Date().getTime();
                if ((current - lastTime) >= 6000) {
                    resendEmailVerification();
                    lastTime = new Date().getTime();
                }
                console.log(current - lastTime)

            })
        });

        var timesBad = 0;

        function resendEmailVerification() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);

                        if (response.can) {
                            $('#response').text("New verification link has been sent to your email");
                            timesBad = 0;
                        } else {
                            timesBad++;
                            $('#response').text("Please wait up to one minute before sending the verification link again" + (timesBad >= 2 ? " #" + timesBad : ""));
                        }
                    } else {
                        console.error("Błąd: " + xhr.status);
                    }
                }
            };

            xhr.open("GET", "{{ path('app_resend_email') }}", true);
            xhr.send();
        }

    </script>

{% endblock %}

{% block endjs %}

{% endblock %}