{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <div class="alerts col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2">
        <div class="alert alert-white alert-dismissible fade show border-1 border-light rounded-1" role="alert">
            <div class="d-flex bd-highligh">
                <h5 class="text-info flex-grow-1 bd-highlight">Error</h5>
                <button type="button" class="alert-close bd-highlight btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div>
                <small>
                    Niestety nie udalo sie przetworzyc tegod gfgd fgdf gdf gdfgd fgd fgdf
                </small>
            </div>
        </div>
    </div>

{% endblock %}
