{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-11 col-md-10 col-lg-8 col-xl-6 border-1 rounded-3 ms-auto me-auto bg-dark mt-5 text-white" style="opacity: 0.9;">
                <div class="text-center mb-3 pt-2">
                    <h1>Password reset</h1>
                    <hr>
                </div>

                {{ form_start(passwordResetForm) }}
                <div class="mb-3">
                    {{ form_row(passwordResetForm.email) }}
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                </div>
                {{ form_errors(passwordResetForm) }}
                {{ form_end(passwordResetForm) }}

            </div>
        </div>
    </div>

{% endblock %}
